.precad_form
	{
		font-family:"Nexa Light", Arial, Helvetica, sans-serif;
		font-size: 12px;
<<<<<<< HEAD
		
=======
		background:#FCFCFC;
		border:#0FC;

>>>>>>> 6a7ec7d41402824bb3e202ff5de849ca44576d6d
	}
	
.precad_form_string
	{
		font-family: RobotoThin, Arial, Helvetica, sans-serif;
		font-size: 30px;
		border: 1px solid #E0E0E0;	
		border-left: 1px solid #E0E0E0;
				padding-left: 11px;	
		border-radius: 7px;
  		-webkit-border-radius: 7px;
  		-moz-border-radius: 7px;
  		-ms-border-radius: 7px;
  		-o-border-radius: 7px;	
		
	}
	
	
/* focus campos cor azul */	
.precad_form_string:focus
	{
		
		border: 1px solid #050505;
		border-left: 12px solid #62C2D0;
		padding-left: 0px;	
		opacity: 1;
		
		/*
  		box-shadow: 3px 3px 7px 0px #000000;
		-webkit-box-shadow: 3px 3px 7px 0px #000000;
  		-moz-box-shadow: 3px 3px 7px 0px #000000;
  		-ms-box-shadow: 3px 3px 7px 0px #000000;
  		-o-box-shadow: 3px 3px 7px 0px #000000;	
  		*/
	}

.precad_form_submit	
	{
		width: 130px;
		height: 40px;
		border-radius: 7px;
		background-color:#4aacba;
		font-family:"Nexa Light", Arial, Helvetica, sans-serif;
		font-size:24px;	
		color:#FFF;	
		/*
  		-webkit-border-radius: 7px;
  		-moz-border-radius: 7px;
  		-ms-border-radius: 7px;
  		-o-border-radius: 7px;	
		*/
				
	}

.precad_tr:nth-child(even) 
	{
	  	background-color: rgb(98, 194, 208);
	}

.precad_tr:nth-child(odd) 
	{
  		background-color: #FCFCFC;
	}	

