
$barColor:#FFFFFF
$overlayColor: #fffde8
$backColor: #2f3439

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(http://themes.googleusercontent.com/static/fonts/notosans/v4/LeFlHvsZjXu2c3ZRgBq9nD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

.wrap_load
{
  width: 600px
  margin: 0 auto
}

/* -------------------------------------
 * Bar container
 * ------------------------------------- */
.progress-radial {
  float: left;
  margin-right: 10px;
  position: static;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #61c2d0;
  background-color: tomato;
  z-index: 100;
}

/* -------------------------------------
 * Optional centered circle w/text
 * ------------------------------------- */
.progress-radial .overlay {
  position: static;
  width: 80px;
  height: 80px;
  background-size:80px 80px;
  background-repeat:no-repeat;
  background-image:  url('../img/consult.png');
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
  line-height: 60px;
  font-size: 16px;

}
