body {
	font-family: RobotoThin;
	background: rgba(132, 203, 240,0.03)
}
div {
	font-family: 'CICPG', 'EBGaramondRegular', 'Tahoma', 'Arial';
}

#logout
    {
        color: white;
        text-transform: capitalize;
         background-color: none;
    }

.cab_nome
    {
        text-transform: capitalize;
    } 

/* Headers */
h3 {
	padding: 0px;
	margin: 5px 5px 0px 0px;
	font-size: 22px;
}

h4 {
	padding: 0px;
	margin: 5px 5px 0px 0px;
	font-size: 16px;
}
.lt0 {
	font-size: 11px;
}
.lt1 {
	font-size: 13px;
}
.lt2 {
	font-size: 15px;
}
.lt3 {
	font-size: 17px;
}
.lt4 {
	font-size: 22px;
}
.lt5 {
	font-size: 28px;
}
.lt6 {
	font-size: 34px;
}
.lt7 {
	font-size: 40px;
}

.form_text {
	font-family: RobotoThin;
	font-size: 15px;
	border: 1px solid #808080;
}
.form_text:active {
	border: 1px solid #8080FF;
}

.form_text_area {
	font-family: RobotoThin;
	font-size: 15px;
	border: 1px solid #808080;
}
.form_text:active {
	border: 1px solid #8080FF;
}

/* Padding */
.pad1 {
	padding: 1px;
}
.pad2 {
	padding: 2px;
}
.pad3 {
	padding: 3px;
}
.pad4 {
	padding: 4px;
}
.pad5 {
	padding: 5px;
}

.pad15 {
	padding: 15px;
}

.pad25 {
	padding: 25px;
}

/* Margin */
.margin5 {
	margin: 5px 5px 0px 0px;
}

/* Float */
.left {
	float: left;
}
.right {
	float: right;
}
.none {
	float: clear;
}
/*v-align*/
.top {
	vertical-align: top;
}

.bottom {
	vertical-align: bottom;
}

/* Texto */
.text-center {
	text-align: center;
}

/* Cores - Letras */
.fnt_blue {
	color: #0000FF;
}
.fnt_red {
	color: #FF0000;
}
.fnt_green {
	color: #00FF00;
}
.fnt_black {
	color: #000000;
}

/* Cores - Background */
.grey {
	background-color: #A0A0A0;
}
.green_light {
	background-color: #F0FFF0;
}
.organge_light {
	background-color: #FFFFF0;
}
.red_light {
	background-color: #FFF0F0;
}
/* Borders */
.border1 {
	border: 1px solid #111111;
}

.radius5 {
	border: 1px solid #000000;
	border-radius: 5px;
	-moz-box-sizing: border-box;
}

.radius10 {
	border: 1px solid #000000;
	border-radius: 10px;
	-moz-box-sizing: border-box;
}

.bt_editar {
	font-family: RobotoThin;
	font-size: 15px;
	border: 1px solid #808080;
}

.bt_aprovar {
	font-family: RobotoThin;
	font-size: 20px;
	background: #41c729;
}

.bt_recusar {
	font-family: RobotoThin;
	font-size: 20px;
	background: #ff0000;
}

.bt_retornar {
	font-family: RobotoThin;
	font-size: 20px;
	background: #ffff00;
}
.cursor {
	cursor: pointer;
}

.cab_status {
	background: #000000;
	text-align: center;
	color: #FFFFFF;
	font-family: RobotoThin;
	font-weight: 900;
	height: 50px;
}

.cab_statusA {
	font-size: 20px;
}

.cab_statusB {
	font-size: 25px;
}

.bt_resumo {
	background: #c0c0c0;
	text-align: center;
	color: #FFFFFF;
	font-family: RobotoThin;
	font-weight: 900;
}

.bt_botao {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	padding: 10px;
	font-size: 15px;
	color: #333333;
	width: 210px;
	text-align: center;
}

.bt_green {
	background:#28de1f;
}

.bt_green:hover{
	opacity: 0.8;
}

.bt_red {
	 background:#fe0107;
}

.bt_red:hover {
	opacity: 0.8;
}

.bt_yellow {
	background:#ffff00;
}

.bt_yellow:hover {
	opacity: 0.8;
}

.bt_fz {
	color: #444444;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-transition: all 0.3s ease-out;
	background: #cbcbcb url(../img/img_border2.png) no-repeat;
	color: #174867;
	padding: 7px 15px 7px 15px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	width: 100px;
	display: block;
	text-decoration: none;
	-webkit-box-shadow: 2px 2px 4px #888;
	float: right;
	vertical-align: top;
}

.bt_fz:hover {
	color: #000000;
	background: #ebebeb url(../img/img_border2.png) no-repeat;
	color: #67a5cd;
	vertical-align: top;
	cursor: pointer;
}

.scroll500{
    height: 500px;
    overflow: scroll;
}
.scroll600{
	 height: 600px;
    overflow: scroll;
}
.scroll700{
	 height: 700px;
    overflow: scroll;
}
.scroll800{
	 height: 800px;
    overflow: scroll;
}
