.pre_tabelaTH{
	border:#4D4D4D; 
	border-style:solid;
	text-align: left;
}

.pre_tabela01{
	border:#4D4D4D; 
	border-style:solid;
	text-align: center;
}

.pre_tabela02{
	
}

.pre_tabela03{
	
}

.pre_tabelaTH_A{
	border:#4D4D4D; 
	border-style:solid;
}

.pre_tabela01_A{
	border:#4D4D4D; 
	border-style:solid;
}

.pre_tabelaPT{
	border:#4D4D4D;
	border-style:solid;
	text-align: center;
}
